@model BigModel

<div>
	Money: @Model.playerData.Dollars
</div>
<div>
	Item: @Model.Item.image
	<form>
		<input name="itemID" hidden value="@Model.Item.ID" />
		<button type="submit" asp-action="Recycle" asp-controller="Game">Recycle</button>
		<button type="submit" asp-action="Trash" asp-controller="Game">Trash</button>
	</form>
</div>
<div>
	Bin Value: @Model.playerData.binValue
	Bin: @Model.playerData.binCurrentCapacity / @Model.playerData.binMaxCapacity
</div>
<div>
	Truck:
</div>
<div>
	Upgrades:
	@foreach(var upgrade in Model.PlayerUpgrades)
	{
		<div>
			<partial name="partialUpgradePage.cshtml" for="@upgrade" />
		</div>
	}
</div>
<form asp-action="Sell" asp-controller="Game">
	<input name="id" type="hidden" value="@Model.playerData.ID" />
	<button type="submit">Sell</button>
</form>